.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #393c61;
  color: white;
}

.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links li {
  margin: 0 10px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.footer {
  text-align: center;
  padding: 10px 0;
  background-color: #393c61;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 120px;
}

footer {
  flex-shrink: 0;
}